*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
    //font-size: 1.2vw;
    font-size: 15px;
}
html{

}

script{
    display: none;
}

.unstyled {
    text-decoration: none;
    color: inherit;
}

.link {
    color: #0000EE;
}

.link:hover{
    text-decoration: underline;
    cursor: pointer;
}

.error-message{
    color: red;
}

.error-list{
    margin-left: 0;
    padding-left: 15px;
}

.button{
    border: solid grey 1px;
    border-radius: 0;
    background: none;
    padding: 5px;
}

.button:hover{
    transition: 0.2s;
    background-color: grey;
}

.login_fieldset{
    background-color: white;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    aspect-ratio: 1;
    width: 20vw;

    text-align: center;
}

.login_fieldset .title{
    color: lightskyblue;
    background-color: white;
    font-size: 30px;
    font-weight: bold;

    padding-bottom: 5px;
}

.login_fieldset form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 140px;
}





.navbar{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-bottom-style: solid;
    border-bottom-color: lightskyblue;
    border-bottom-width: 2px;

    background-color: white;
    width: 100vw;

    z-index: 100;
}

.navbar_button{
    border: none;
    background: none;
    padding: 10px;
    font-size: 15px;
}

.navbar_button:hover{
    transition: 0.2s;
    background-color: lightskyblue;
}

.search-bar{
    height: 20px;
}

.search-button{

}

.popup-block{
    display: none;
    position: fixed;
    z-index: 9;
    padding-bottom: 50vh;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.popup-block.show{
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 0.5s
}

.popup{
    z-index: 10;
    background-color: white;
    border: solid lightcoral 2px;

    padding: 3px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-overflow: ellipsis;
    overflow: hidden;
}


.home-page{
    background-color: #070c21;
    color: white;
}

.home-page h1{
    font-size: 35px;
    padding: 10px;

    text-decoration: underline;
}

.top-games{
    display: flex;
    justify-content: space-around;
    background-color: dodgerblue;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
    margin-bottom: 30px;

    flex-wrap: wrap;
}

.collection{
    padding: 10px;
    //display: grid;
    //row-gap: 20px;
    //column-gap: 0;

    //grid-template-columns: repeat( auto-fit, minmax(0px, 250px) ); /*non so che significa*/

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 15px;
}


.game-display{
    display: flex;
    width: 226px;
    flex-direction: column;

    border: solid lightslategray 2px;

    margin: 10px;

    transform-origin: center;
    transition: 0.1s;
}


.game-display:hover{
    transition: 0.1s;
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

.top-games .game-display{
    width: 350px;
}

.game-display img{
    aspect-ratio: 460/215;
    object-fit: cover;
    margin: 0;
    z-index: 0;
}

.game-display .game-name-display{
    background-color: #2A475E;
    color: white;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.game-price-display{
    background-color: #2A475E;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.discount-display{
    background-color: green;
    color: palegreen;
    padding: 2px;
}

.regular-price{
    text-decoration: line-through;
    color: slategrey;
    padding: 2px;
}

.addedDate-display{
    background-color: #2A475E;
    color: #b3b3b3;
    padding: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    font-size: 12px;
    justify-content: flex-end;
}

.addedDate-display span{
    font-size: 12px;
    color: #b3b3b3;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.game-price-text{
    padding: 2px;
}

.game-page{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.game-page-left{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
}

.game-page-right{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 20px;
}

.game-image{
    border: solid 2px slategray;
    display: flex;
    flex-direction: column;

    width: 600px;
    object-fit: cover;
}



.game-prices{
    display: flex;
    flex-direction: column;
}



.game-price-display
{
    flex-direction: row;
    display: flex;
}

.deal-display{
    border: solid 2px lightslategray;
    background-color: #2A475E;
    border-top: none;
    display: flex;
    flex-direction: row;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    justify-content: space-between;
    margin: 0 20px;

    width: 400px;
}

.deal-display:first-of-type{
    border-top: solid 2px lightslategray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.deal-display:last-of-type{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.deal-display:hover{
    background-color: #325570;
    transition: 0.1s;
}

#deal-table-title{
    justify-content: space-around;
    background-color: #1f3647
}

.deal-display .game-price-display{
    background-color: transparent;
}

.price-history .deal-display{
    background-color: #1f3647
}
.price-history .deal-display:hover{
    background-color: #1f3647
}

.tag-display{
    display: flex;
    flex-wrap: wrap;
    gap: 2px;

    margin: 10px 0;
}

.add-to-wishlist-button{
    background-color: #00ce7a;
    color: white;
    padding: 3px;
    border-radius: 5px;
}

.add-to-wishlist-button:hover{
    cursor: pointer;
    background-color: #4fcc9a;
}

.add-to-collection-button{
    background-color: dodgerblue;
    color: white;
    padding: 3px;
    border-radius: 5px;
}

.add-to-collection-button:hover{
    cursor: pointer;
    background-color: #64aff8;
}

.remove-from-wishlist-button{
    background-color: #ff6874;
    color: white;
    padding: 3px;
    border-radius: 5px;
}

.remove-from-wishlist-button:hover{
    cursor: pointer;
    background-color: #fa8c95;
}

.remove-from-collection-button{
    background-color: #ed822b;
    color: white;
    padding: 3px;
    border-radius: 5px;
}

.remove-from-collection-button:hover{
    cursor: pointer;
    background-color: #ea8c3f;
}

.tag{
    background-color: #373d62;
    color: white;
    padding: 2px 4px;
    display: inline-block;
}

.review-display{
    display: flex;
    flex-direction: column;
}

.review{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #303240;
    border-radius: 5px;
    padding: 10px;

    margin-bottom: 2px;
}

.review:hover{
    background-color: #414457;
}

.review-score{
    color: black;
    background-color: #00ce7a;
    border-radius: 5px;
    padding: 5px;
    font-family: ProximaNova,sans-serif;;
    font-size: 23px;
    align-content: center;
    aspect-ratio: 1;
}



.review-source{

}

.review-count{
    color: #b3b3b3;
    font-size: 12px;
}

@media only screen and (max-width: 1110px){
    .top-games{
        flex-direction: column;
        align-content: center;
    }
}

@media only screen and (max-width: 700px) {
    .game-page{
        flex-direction: column;
    }

    .game-image{
        width: 90%;
    }

    .deal-display{
        width: 90%;
    }

    .review-display{
        width: 90%;
    }
}
